
.wrapper {
    background-color: red;
}

.titleArea {
    text-align: center;
    color: white;
}

.logo {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.displayArea {
    /* display: flex !important;
    flex-direction: row !important; */
    background-color: white;
    border: solid 2px black;
}




.typeButtons {
    border: solid 2px blue;
    /* margin-left: 200px; */
}

.resultsSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}